body {
    width: 100vw;
    height: 100vh;
}


#loader {
    position: absolute;
    width: 100vw;
    height: 0;

    background-color: var(--clr-white);

    z-index: 10;
    opacity: 0;

    transition: opacity 1s cubic-bezier(0.075, 0.82, 0.165, 1), height 50ms linear 1s;
}

#loader.active {
    opacity: 1;
    height: 100vh;
}

.loadercontent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loadercontent > div {
    margin-bottom: 38px;
    border: 4px solid var(--clr-grey);
    border-top: 4px solid var(--clr-dark);;

    border-radius: 50%;
    width: 150px;
    height: 150px;
    position: relative;

    animation: loaderspin 1s linear infinite;
}

.loadercontent span {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-53%, -96%);

    display: block;
    border-radius: 100% 40% 3% 20%;
    background-color: var(--clr-dark);
    width: 100px;
    height: 80px;
}

@keyframes loaderspin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}





#mainsection {
    position: relative;
    width: 100%;
    height: 100%;
}





.threeselector {
    position: absolute;
    margin-bottom: 6vh;
    width: 100%;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.threeselectorbtn {
    cursor: pointer;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: aqua;
    border: 3px solid #323232;
}

.threeselectorbtn[btnid="1"] {
    background-color: #9a9e9e;
}
.threeselectorbtn[btnid="2"] {
    background-color: #e7363c;
}
.threeselectorbtn[btnid="3"] {
    background-color: #d3603a;
}
.threeselectorbtn[btnid="4"] {
    background-color: #d7cc40;
}
.threeselectorbtn[btnid="5"] {
    background-color: #383c3e;
}
.threeselectorbtn[btnid="6"] {
    background-color: #36406a;
}
.threeselectorbtn[btnid="7"] {
    background-color: #000000;
}