* {
    font-family: 'Nunito', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
  scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    overflow-y: hidden;

    position: relative;
    scroll-behavior: smooth;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0px;
}

a {
    text-decoration: none;
    color: unset;
}




:root {
    --clr-dark: #1b1b37;
    --clr-grey-dark: #4A6C6F;
    --clr-grey: #CBD2D0;
    --clr-white: #fff;

    --clr-yellow-dark: #B17F49;
    
    --clr-red: #eb3537;
    --clr-green: #009791;
    --clr-green-light: #00b1ac;
    --clr-yellow-light: #f1ab2e;
}



/* COLORS: */
.bg-clr-dark {
    background-color: var(--clr-dark);
}
.bg-clr-grey {
    background-color: var(--clr-grey);
}
.bg-clr-yellow-dark {
    background-color: var(--clr-yellow-dark);
}
.bg-clr-red {
    background-color: var(--clr-red);
}
.bg-clr-green {
    background-color: var(--clr-green);
}
.bg-clr-yellow-light {
    background-color: var(--clr-yellow-light);
}

.ft-clr-white {
    color: var(--clr-white);
}
.ft-clr-yellow-dark {
    color: var(--clr-yellow-dark);
}



/* MARGIN: */
.content-margin {
    padding: 0 14vw;
}



h2 {
    font-size: 2.2em;
}





@media screen and (max-width: 1700px) {
  .content-margin {
      padding: 0 12vw;
  }
}
@media screen and (max-width: 1500px) {
    .content-margin {
        padding: 0 10vw;
    }
}
@media screen and (max-width: 1300px) {
    .content-margin {
        padding: 0 8vw;
    }
    h2 {
        font-size: 1.9em;
    }
}
@media screen and (max-width: 900px) {
    .content-margin {
        /* padding: 0 7vw; */
    }
    h2 {
        font-size: 1.35em;
    }
    p {
        font-size: 94%;
    }
}
@media screen and (max-width: 600px) {
    .content-margin {
        padding: 0 6vw;
    }
    h2 {
        font-size: 1.2em;
    }
    p {
        font-size: 88%;
    }
}





/* ELEMENTS: */
.primarybtn {
    padding: 0.7em 2em;
	position: relative;
    background-color: var(--clr-white);
    border: 3px solid transparent;
    border-radius: 10px;
    cursor: pointer;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);

    transition: all .3s ease;

    font-size: .8rem;
    font-weight: 600;
    letter-spacing: 0.05em;
}
.primarybtn:not(.stylizedbtn) {
    border: 3px solid var(--clr-dark);
}
.primarybtn:not(.stylizedbtn):hover {
    background-color: var(--clr-dark);
    color: var(--clr-white);
    border-color: var(--clr-white);
}



.stylizedbtn {
    font-size: .9rem;
    font-weight: 700;
    letter-spacing: 0.05em;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    /* border: unset; */
}

.stylizedbtn:active, .stylizedbtn:focus {
  outline: 3px solid var(--clr-green);
}
.sb__txt {
  position: relative;
  z-index: 2;
}
.sb__bg {
  background: var(--bgclr);
  border-radius: 50%;
  display: block;
  height: 0;
  left: 50%;
  margin: -50% 0 0 -50%;
  padding-top: 100%;
  position: absolute;
  top: 50%;
  width: 100%;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform .2s cubic-bezier(0.5, 1, 0.89, 1);
  z-index: 1;
}
.sb__bg:nth-of-type(1) {
  --bgclr: var(--clr-red);
  transition-delay: 0.1725s;
}
.sb__bg:nth-of-type(2) {
  --bgclr: var(--clr-yellow-light);
  transition-delay: 0.115s;
}
.sb__bg:nth-of-type(3) {
  --bgclr: var(--clr-green);
  transition-delay: 0.0575s;
}
.sb__bg:nth-of-type(4) {
  --bgclr: var(--clr-white);
  transition-delay: 0s;
}
.stylizedbtn:hover .sb__bg, .stylizedbtn:focus .sb__bg, .stylizedbtn:active .sb__bg, .stylizedbtn.shover .sb__bg {
  transform: scale(1.5);
  transition: transform 0.35s cubic-bezier(0.11, 0, 0.5, 0);
}
.stylizedbtn:hover .sb__bg:nth-of-type(1), .stylizedbtn:focus .sb__bg:nth-of-type(1), .stylizedbtn:active .sb__bg:nth-of-type(1), .stylizedbtn:has(.shover) .sb__bg:nth-of-type(1) {
  transition-delay: 0.115s;
}
.stylizedbtn:hover .sb__bg:nth-of-type(2), .stylizedbtn:focus .sb__bg:nth-of-type(2), .stylizedbtn:active .sb__bg:nth-of-type(2), .stylizedbtn.shover .sb__bg:nth-of-type(2) {
  transition-delay: 0.23s;
}
.stylizedbtn:hover .sb__bg:nth-of-type(3), .stylizedbtn:focus .sb__bg:nth-of-type(3), .stylizedbtn:active .sb__bg:nth-of-type(3), .stylizedbtn.shover .sb__bg:nth-of-type(3) {
  transition-delay: 0.345s;
}
.stylizedbtn:hover .sb__bg:nth-of-type(4), .stylizedbtn:focus .sb__bg:nth-of-type(4), .stylizedbtn:active .sb__bg:nth-of-type(4), .stylizedbtn.shover .sb__bg:nth-of-type(4) {
  transition-delay: 0.46s;
}




.back-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 0;
}






input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* background-color: var(--form-background); */
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    cursor: pointer;
}
input[type=checkbox]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
            clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: .05s transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
    background-color: var(--clr-dark);
}
input[type=checkbox]:checked::before {
    transform: scale(1);
}
/* input[type=checkbox]:focus {
    outline: max(2px, 0.15em) solid currentColor;
    outline-offset: max(2px, 0.15em);
} */
input[type=checkbox]:disabled {
    --form-control-color: var(--form-control-disabled);
    color: var(--form-control-disabled);
    cursor: not-allowed;
}




input[type=text].searchbar {
    padding: 0.7em 1.2em;
	position: relative;
    background-color: var(--clr-white);
    border: 3px solid transparent;
    border-radius: 10px;
    cursor: pointer;

    box-shadow: 1px 1px 10px rgba(0, 0, 0, .5);
}






#mainsection {
    overflow-x: hidden;
    overflow-y: auto;
    
    scrollbar-track-color: #F5F5F5;
    scrollbar-color: #F5F5F5;
    scrollbar-width: 14px;

    scroll-behavior: smooth;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
#mainsection::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	/* border-radius: 10px; */
	background-color: #F5F5F5;
}
#mainsection::-webkit-scrollbar {
	width: 14px;
	background-color: #F5F5F5;
}
#mainsection::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

@media only screen and (max-width: 1200px) {
    #mainsection {
        scrollbar-width: 10px;
    }
    #mainsection::-webkit-scrollbar {
        width: 10px;
    }
    #mainsection::-webkit-scrollbar-thumb {
        border-radius: 8px;
    }
}
@media only screen and (max-width: 800px) {
    #mainsection {
        scrollbar-width: 0.1px;
    }
    #mainsection::-webkit-scrollbar {
        width: 0.1px;
    }
}




footer {
    height: 35vh;
    background-color: var(--clr-dark);
    scroll-snap-align: center;
    scroll-snap-type: y none;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: var(--clr-white);
}

footer .separator {
    height: 50%;
    background-color: var(--clr-white);
    width: 1px;
    border-radius: 4px;

    margin: 0 120px;
}