p:has(+ p) {
    margin-bottom: 1.2em;
}

.videoprescont {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(var(--clr-grey), var(--clr-grey));
    position: relative;
    z-index: 2;
}

.videoprescont .content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videoprescont h1 {
    cursor: pointer;
    color: var(--clr-white);
    font-weight: 800;
    font-size: 6em;
    line-height: 120px;
    text-align: center;

    margin-top: 4vh;
    margin-bottom: 44px;

    transition: all .5s;
}
.videoprescont h1:hover {
    stroke: 3px var(--clr-white);
    -webkit-text-stroke: 3px var(--clr-white);
    color: transparent;
}





@media (max-width: 1200px) {
    .videoprescont h1 {
        font-size: 5em;
        line-height: 100px;
        margin-bottom: 38px;
    }
}
@media (max-width: 750px) {
    .videoprescont h1 {
        line-height: 80px;
        font-size: 4em;
        margin-bottom: 34px;
    }
}





.scrolldowncont {
    position: absolute;
    bottom: 2px;
    left: 50%;
    /* right: 50%; */

    text-align: center;

    transform: translate(-50%, -30%);
}

.scrolldownicon {
    cursor: pointer;
    width: 40px;
    height: 65px;
    border: #fff solid 2px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    opacity: 0;

    transition: all .5s ease;
    transition: border-color .2s ease;
}
.scrolldownicon.show {
    opacity: 1;
}

.scrolldownicon span {
    background-color: #fff;
    width: 4px;
    height: 8px;
    border-radius: 30px;
    margin-top: 10px;
    position: relative;
}

.scrolldownicon span::before {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: translateY(-10px) rotate(135deg);
    left: -5px;
    margin-top: 10px;
    opacity: 0;
    animation: ani 2s infinite linear;
}

.scrolldownicon:hover, .scrolldownicon:hover span, .scrolldownicon:hover span::before {
    border-color: rgba(255, 255, 255, .5);
}


.scrolldownicon span::after {
    position: absolute;
    content: '';
    width: 13px;
    height: 13px;
    border: none;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    transform: translateY(-10px) rotate(135deg);
    left: -5px;
    margin-top: 10px;
    opacity: 0;

    animation: scrolldowniconani 2s infinite linear;
    animation-delay: 1s;
}

@keyframes scrolldowniconani {
    0% {
        margin-top: 10px;
        opacity: 0;
    }

    50% {
        margin-top: 25px;
        opacity: 1;
    }

    100% {
        margin-top: 40px;
        opacity: 0;
    }
}









#mainsection {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    width: 100%;

    scroll-behavior: smooth;

    /* scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;
    scrollbar-width: thin;
    scrollbar-gutter: stable; */
}

#mainsection > section:not(.videoprescont) {
    width: 100%;
    height: calc(100vh - 8vh);
    /* min-height: calc(100vh - 8vh); */
    position: relative;

    /* padding-bottom: 2vh; */

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 7.5em;
    padding-bottom: 7em;

    color: var(--clr-white);

    scroll-snap-align: start;
    scroll-margin-top: 8vh;
}


@media only screen and (max-width: 800px) {
    #mainsection {
        scroll-snap-type: y proximity;
    }
    #mainsection > section:not(.videoprescont) {
        /* height: unset; */
        /* min-height: calc(100vh - 8vh); */
    }
}



.videoprescont {
    scroll-snap-align: start;
    height: 100vh;
}
.videoprescont video[poster] {
    object-fit: cover;
}




.section .conttext, .section .contimg, .section .fwcont {
    flex-basis: 45%;
    height: 100%;
    width: 100%;
    color: #000;
    background-color: var(--clr-white);
    border-radius: 20px;

    padding: 3em 3em;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);
}
.section .conttext > div:last-of-type {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.section .contimg {
    padding: 0;
    cursor: pointer;
    transition: .3s;
}
.section .contimg:hover {
    /* mask: linear-gradient(180deg, transparent 5%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 1) 70%, transparent 95%);
    -webkit-mask-image: linear-gradient(0deg, transparent 5%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 81%, transparent 95%); */

    transform: translateY(-20px);
}
.section .contimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.section h2 {
    margin-bottom: 18px;
    text-transform: uppercase;
    font-weight: 600;
}
.section p {
    line-height: 1.6em;
}
.section > div:first-of-type p:not(:last-of-type) {
    margin-bottom: 12px;
}
.section .conttext button {
    margin-top: 16px;
}




#gamme-cosy > .cont:last-of-type {
    flex-basis: 45%;
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
}

#gamme-cosy > .cont:last-of-type .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50%;
    flex-basis: 50%;
}
#gamme-cosy > .cont:last-of-type .row:first-of-type {
    margin-bottom: 2em;
}
#gamme-cosy .cont:last-of-type .row > .card:first-of-type {
    margin-right: 2em;
}

#gamme-cosy .card {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 16px;
    position: relative;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);
    transition: .3s;
}
#gamme-cosy .card:hover {
    transform: translateY(-12px);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .8);
    width: 140%;
}
#gamme-cosy .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}




@media (max-width: 1200px) {
    #mainsection section {
        padding-top: 5.3em !important;
        padding-bottom: 5em !important;
    }
    #gamme-cosy {
        flex-direction: column;
    }
    .section h2 {
        margin-bottom: 12px;
    }
    .section p {
        line-height: 1.4em;
    }
    section > .conttext {
        padding: 2.4em 2.6em;
    }
    #gamme-cosy > .cont:last-of-type {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        margin-top: 1.4em;
    }
    #gamme-cosy > .cont:last-of-type .row {
        height: 100%;
    }
    #gamme-cosy > .cont:last-of-type .row:first-of-type {
        margin-bottom: 0;
        margin-right: 1.4em;
    }
    #gamme-cosy .cont:last-of-type .row > .card:first-of-type {
        margin-right: 1.4em;
    }
    #gamme-cosy .card:hover {
        width: 100%;
    }
}

@media (max-width: 1000px) {
    #mainsection section {
        /* height: 110% !important; */
        padding-top: 3.8em !important;
        padding-bottom: 3.6em !important;
    }
    #gamme-cosy > .cont:last-of-type {
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        margin-top: 1.2em;
    }
    #gamme-cosy > .cont:last-of-type .row:first-of-type {
        margin-bottom: 1.2em;
        margin-right: 0;
    }
    #gamme-cosy .cont:last-of-type .row > .card:first-of-type {
        margin-right: 1.2em;
    }
    #gamme-cosy .card:hover {
        transform: translateY(-10px);
    }


    #cosy-family, #cosy-campings {
        gap: 30px;
        justify-content: center !important;
    }
    #cosy-family {
        flex-direction: column-reverse;
    }
    #cosy-campings {
        flex-direction: column;
    }
}

@media (max-width: 800px) {
    #mainsection section {
        padding-top: 3.1em !important;
        padding-bottom: 3em !important;
    }
    .section > .conttext {
        padding: 1.8em 2.2em;
    }
} 

@media (max-width: 600px) {
    #mainsection section {
        padding-top: 2.4em !important;
        padding-bottom: 2.3em !important;
    }
    .section h2 {
        margin-bottom: 8px;
    }
}





/* #cosy-campings {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cosy-campings > div {
    width: 100%;
    margin-top: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cosy-campings > div > div {
    border-radius: 20px;
    background-color: var(--clr-white);
    padding: 20px 0 0 0;

    width: 100%;
}
#cosy-campings > div > div:first-of-type {
    margin-right: 5vw;
}

#cosy-campings > div > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */






@media (max-width: 1600px) {

}

@media (max-width: 1250px) {

}




#jointhecosyunivers {
    color: #000 !important;
    justify-content: center !important;

    background-image: url("../contents/pictures/loadingvideo_1920.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
#jointhecosyunivers > div {
    position: relative;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 8vh 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .5s cubic-bezier(0, 0, 0.2, 1);
}
#jointhecosyunivers > div:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, .5);
}
#jointhecosyunivers > div::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI1MHB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTMyMCAyOGMzMjAgMCAzMjAgODQgNjQwIDg0IDE2MCAwIDI0MC0yMSAzMjAtNDJ2NzBIMFY3MGM4MC0yMSAxNjAtNDIgMzIwLTQyeiIvPjwvZz48L3N2Zz4=);
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 50px;
    transform: translateY(-100%);
    opacity: 0.6;
    transition: all .5s cubic-bezier(0, 0, 0.2, 1);
}
#jointhecosyunivers > div:hover::before {
    /* transform: scaleX(-1) translateY(-100%); */
    background-size: 1000% 50px;
    opacity: 0.0;
}
#jointhecosyunivers > div::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI1MHB4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTMyMCAyOGMzMjAgMCAzMjAgODQgNjQwIDg0IDE2MCAwIDI0MC0yMSAzMjAtNDJ2NzBIMFY3MGM4MC0yMSAxNjAtNDIgMzIwLTQyeiIvPjwvZz48L3N2Zz4=);
    height: 50px;
    background-repeat: no-repeat;
    background-size: 100% 50px;
    background-position: center;
    transform: scale(-1) translateY(-100%);
    opacity: 0.6;
    transition: all .5s cubic-bezier(0, 0, 0.2, 1);
}
#jointhecosyunivers > div:hover::after {
    /* transform: scale(-1) scaleX(-1) translateY(-100%); */
    background-size: 1000% 50px;
    opacity: 0.0;
}
#jointhecosyunivers > div > div:last-of-type {
    display: flex;
    margin-top: 4vh;
    align-items: center;
    justify-content: center;
}
#jointhecosyunivers > div > div:last-of-type > div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#jointhecosyunivers > div > div:last-of-type > div > span {
    width: 1px;
    height: 14px;
    background-color: #000;
    border-radius: 8px;
}
#jointhecosyunivers > div > div:last-of-type > div > p {
    margin: 20px 6vw;
    line-height: 0;
}




#lentreprise {
    /* position: relative; */
}
#lentreprise .fwcont {
    flex-basis: 100%;
    flex-direction: row;
}
#lentreprise .left {
    flex-basis: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#lentreprise .right {
    height: 100%;
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#lentreprise .left > div:first-of-type {
    position: relative;
}
#lentreprise .left img {
    border-radius: 20px;
    object-fit: cover;
    transition: transform .2s ease;
    width: 100%;
    transform: scale(1.0);
}
#lentreprise .left img:hover {
    transform: scale(1.1);
}
#lentreprise .left > div:first-of-type a {
    margin-bottom: 50px;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity .5s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
#lentreprise .left > div:first-of-type a.active {
    opacity: 1;
    transition-delay: .5s;
}

#lentreprise .left > div:last-of-type {
    position: relative;
}
#lentreprise .left > div:last-of-type > div {
    opacity: 0;
    transition: opacity .5s ease 0s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
#lentreprise .left > div:last-of-type > div.active {
    opacity: 1;
    transition-delay: .8s;
}


#lentreprise .right > div:last-of-type {
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#lentreprise p {
    margin-bottom: 0;
}